.heroContainer {
    position: relative;
    margin-top: 140px;
}

.heroImg {
    width: 100vw;
    height: 1030px;
}

.heroTitleOne {
    position: absolute;
    bottom: 82%;
    left: 24%;
}

.heroTitleTwo {
    position: absolute;
    bottom:76%;
    left: 24%;
}

.callExpertBtm {
    background-color: #F7F7F7;
    position: absolute;
    bottom: 60%;
    left: 24%;
    padding: 14px 74px;
    border-radius: 15px;
    opacity: 0.9;
    box-shadow: 2px 4px 20px 0px rgba(0, 0, 0, 0.25);
}