.linkcolor {
  font-family: Be Vietnam Pro;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #f7f7f7;
}

.heroFonts {
  font-family: Be Vietnam Pro;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #282828;
}
.heroFontsGreen {
  font-family: Be Vietnam Pro;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #39b54a;
}

.heroBtn {
  font-family: Be Vietnam Pro;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #282828;
}

.howisWorkP {
  text-align: center; 
  font-family: Be Vietnam;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.75px;
  color: #f7f7f7;
}

.portfolioCardsSign {
  // font-feature-settings: 'clig' off, 'liga' off;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.75px;
  color: #3c4043;
}
.portfolioCardsdetails {
  font-family: Be Vietnam Pro;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #3c4043;
}

.partnersSlider {
  color: #f7f7f7;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 66.667% */
  letter-spacing: 0.75px;
}
.footerSchedule {
  color: #f8f9fa;
  font-family: Be Vietnam Pro;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.callExpertText {
  color: #f7f7f7;
  font-family: Be Vietnam Pro;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.callExpertBtm {
  color: #39b54a;
  font-family: Be Vietnam Pro;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.productCardTitle {
  color: #3c4043;
  font-family: Be Vietnam Pro;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.productCardText {
  color: #3c4043;
  font-family: Be Vietnam Pro;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 23px; /* 36px */
}
.cardsScript {
font-family: Be Vietnam Pro;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
color:#3C4043;
}
.cardDescroption {
font-family: Be Vietnam Pro;
font-size: 12px;
font-style: normal;
font-weight: 300;
line-height: normal;
color:#3C4043;
}
