.cardDescroption {
  font-family: Be Vietnam Pro;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #3c4043;
}

.portfolioCardsdetails {
  font-family: Be Vietnam Pro;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #3c4043;
}

.portfolioText {
  font-family: Be Vietnam Pro;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #3C4043;
}

.cardsScript {
  font-family: Be Vietnam Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #3c4043;
}

.modalCartsText {
  font-family: Be Vietnam;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.75px;
  color: #3C4043;
}

.portfolioCardsSign {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.75px;
  color: #3c4043;
}

.howIsWorkScript {
  text-align: center;
  font-family: Be Vietnam;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.75px;
  color: #f7f7f7;
}

.footerSchedule {
  color: #f8f9fa;
  font-family: Be Vietnam Pro;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.footerSchedule {
  color: #f8f9fa;
  font-family: Be Vietnam Pro;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.bigCardDescription {
  font-family: Be Vietnam Pro;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  color: #3c4043;
}

.linkcolor {
  font-family: Be Vietnam Pro;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #f7f7f7;
}

.linkcolor:hover {
  color: #39B54A;
}

.mapAddress {
  color: #F7F7F7;
  font-family: Be Vietnam Pro;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 28px */
}

.reviewsText {
  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.reviewsName {
  color: #14142B;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.heroBtn {
  font-family: Be Vietnam Pro;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #282828;
}

.productCardText {
  font-family: Be Vietnam Pro;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 23px;
  color: #3c4043;
}

.servicesText {
  font-family: Be Vietnam Pro;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 23px;
  color: #3c4043;
}

.servicesText:hover {
  color: #39B54A;
}

.logonTitleName {
  font-family: Be Vietnam Pro;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  /* 36px */
  color: #39B54A;
}

.aboutUsLogoText {
  font-family: Be Vietnam Pro;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  color: #F7F7F7;
}

.callExpertText {
  color: #f7f7f7;
  font-family: Be Vietnam Pro;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.smartProdBtm {
  font-family: Be Vietnam Pro;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #F7F7F7;
  text-align: center;
}

.callExpertBtm {
  font-family: Be Vietnam Pro;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #39b54a;
}

.logonGreenText {
  color: #39B54A;
  font-family: Be Vietnam Pro;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.neomonInfo {
  font-family: Be Vietnam Pro;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  color: #000;
}

.howIsWorkTitle {
  color: #F7F7F7;
  text-align: center;
  font-family: Be Vietnam Pro;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.rewiesText {
  text-align: center;
  font-family: Be Vietnam Pro;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: #000;
}

.advantagesTitle {
  color: #000;
  font-family: Be Vietnam Pro;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.logoTitle {
  font-family: Be Vietnam Pro;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #F7F7F7;
}

.partnersSlider {
  color: #f7f7f7;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.75px;
}

.productCardTitle {
  font-family: Be Vietnam Pro;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #3c4043;
}

.prodPageHeroTitle {
  font-family: Be Vietnam Pro;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #f7f7f7;
}

.mainHeroTitle {
  font-family: Be Vietnam Pro;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #282828;
}

.prodPageHeroList {
  color: #f7f7f7;
  font-family: Be Vietnam Pro;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #39b54a;
}

.heroTitleMainePage {
  font-family: Be Vietnam Pro;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #f7f7f7;
}

.heroFontsGreen {
  font-family: Be Vietnam Pro;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #39b54a;
}

.heroFonts {
  font-family: Be Vietnam Pro;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #282828;
}

.rewiesTitle {
  font-family: Be Vietnam Pro;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  /* 60px */
  color: #000;
}

.prodPageHeroTitleTEST {
  font-family: Be Vietnam Pro;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: red;
}/*# sourceMappingURL=fonts.module.css.map */